*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    display: grid;
    grid-template-columns: auto;
    grid-template-rows: 15vh 75vh 10vh;
    grid-template-areas: 
    "header"
    "main"
    "footer"
    ;
    font-family: Arial, Helvetica, sans-serif;
}

header{
    grid-area: header;
    display: grid;
    align-items: center;
    justify-items: center;
    color: white;
    background-color: rgb(40, 124, 96);
    font-size: 60px;
}

.centro{
    grid-area: main;
    display: grid;
    align-items: center;
    justify-items: center;
    background-color: rgb(199, 241, 255);
}

footer{
    grid-area: footer;
    display: grid;
    align-items: center;
    justify-items: center;
    color: white;
    background-color: rgb(40, 124, 96);
    font-size: 30px;
}

.main{
    display: grid;
    background-color: white;
    width: 45%;
    height: 95%;
    border-radius: 10px;
    box-shadow: 0px 0px 6px 0.2px rgb(155, 155, 155);
    margin: 10px;
}


.form{
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: auto auto auto auto;
    grid-template-areas: 
    "header2 header2"
    "nome email"
    "tele ass"
    "msg msg"
 
    ;
    column-gap: 30px;
    margin: 30px;
}
.header2{
    display: grid;
    grid-area: header2;
    color: rgb(2, 128, 90);
    text-align: center;
    align-self: center;
    justify-self: center;
    font-size: 40px;
}
.nome{
    grid-area: nome;
    
}
.email{
    grid-area: email;
}
.telefone{
    grid-area: tele;
}
.assunto{ 
    grid-area: ass;
}
.msg{
    grid-area: msg;
}

input{
    background-color: rgb(238, 238, 238);
    border-radius: 8px;
    margin: 0;
    padding: 10px;
    border: 1px solid rgb(146, 146, 146);
    width: 100%;
    height: 50%;
}
p{
    font-size: 25px;
    color: rgb(2, 128, 90);
}
.pmsg{
    height: 100%;
}
.botao{
    display: grid;
    align-items: center;
    justify-self: left;
    margin-top: 0;
    margin: 30px;
}
button{
    padding: 10px;
    color: white;
    background-color: rgb(2, 128, 90);
    border-radius: 2px;
    border: 0px;
}